body {
    padding-top: 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startscreen {
    position: relative;
    width: 740px;
    height: 480px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 10;
    background-image: url(img/background/bg2.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

#startImage:hover {
    cursor: pointer;
}

#fullscreenButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin: 2px;
}

#impressum {
    position: absolute;
    width: 740px;
    height: 480px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 10;
    background-image: url(img/background/bg2.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

#impressumButton {
    position: absolute;
    bottom: 2px;
    color: white;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
}

#endscreen {
    width: 740px;
    height: 480px;
    color: black;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 10;
    text-align: center;
}

#endscreenButton {
    height: 120px;
    width: 200px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.endscreenButtonimg {
    position: relative;
    top: 35%;
}

.endscreenButtonimg:hover {
    cursor: pointer;
}

.endscreenButtonText {
    position: relative;
    top: -2.5%;
}

.endscreenButtonText:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

#canvasContainer {
    position: absolute;
}

#actionButtons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 15px;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    z-index: 999;
    display: none;
}

button {
    background-color: transparent;
    border: none;
}

#playButtonRight {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

#playButtonLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

canvas {
    background-color: black;
    display: none;
    /* wird erst beim Spielstart sichtbar */
}

#oriantationWarning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 9999;
    text-align: center;
    background-color: gray;
}

@media only screen and (max-width: 740px) {

    canvas,
    #startscreen,
    #endscreen {
        width: 100%;
        height: 100vh;
    }

    body {
        padding: 0;
    }

    #canvasContainer {
        left: 0;
        right: 0;
    }

    #actionButtons {
        display: block !important;
    }
}

@media only screen and (max-height: 480px) {

    canvas,
    #startscreen,
    #endscreen {
        width: 100%;
        height: 100vh;
    }

    body {
        padding: 0;
    }

    #canvasContainer {
        left: 0;
        right: 0;
    }

    #actionButtons {
        display: block !important;
    }
}

@media screen and (orientation:landscape) {
    #oriantationWarning {
        display: none;
    }
}