body {
    padding-top: 50px;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/background/bg2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

#startscreen {
    position: relative;
    width: 740px;
    height: 480px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 10;
    background-image: url(img/background/bg2.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

#btnMute {
    position: absolute;
    bottom: 75px;
    cursor: pointer;
}

#startImage:hover {
    cursor: pointer;
}

#fullscreenButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin: 2px;
}

h1 {
    margin: 2px;
}

#btnCloseImpressum {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#impressum {
    position: absolute;
    width: 740px;
    height: 480px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 10;
    background-image: url(img/background/bg2.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

#impressumButton {
    position: absolute;
    bottom: 2px;
    left: 45.5%;
    color: white;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
}

#endscreen {
    width: 740px;
    height: 480px;
    color: black;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 10;
    text-align: center;
}

#endscreenButtons {
    position: relative;
    height: 120px;
    width: 200px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

h4 {
    position: relative;
    top: -46px;
}

#btnRestart {
    position: relative;
    top: 10px;
}

/* .endscreenButtonimg {
    position: relative;
    top: 35%;
} */

.endscreenButtonimg:hover {
    cursor: pointer;
}

.endscreenButtonText {
    position: relative;
    top: 8.5%;
}

.endscreenButtonText:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

#canvasContainer {
    position: absolute;
}

#actionButtons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 15px;
    margin-left: 3%;
    margin-right: 7%;
    display: flex;
    z-index: 999;
    display: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#playButtonRight {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

#playButtonLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

canvas {
    background-color: black;
    display: none;
}

#oriantationWarning {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    z-index: 9999;
    text-align: center;
    background-color: gray;
}

.oriantationWarningText {
    position: relative;
    top: 50%;
}

@media only screen and (max-width: 740px) {

    canvas,
    #startscreen,
    #endscreen,
    #impressum {
        width: 100%;
        overflow: hidden;
    }

    body {
        padding: 0;
    }

    #canvasContainer {
        left: 0;
        right: 0;
    }

    #actionButtons {
        display: block;
    }
}

@media only screen and (max-height: 480px) {

    canvas,
    #startscreen,
    #endscreen,
    #impressum {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    body {
        padding: 0;
    }

    #canvasContainer {
        left: 0;
        right: 0;
    }

    #actionButtons {
        display: block;
    }
}

@media screen and (orientation: portrait) and (pointer: coarse) {
    #oriantationWarning {
        display: block;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    #actionButtons {
        display: block;
        margin-right: 3%;
    }
}